---

interface Props {
  title: string;
  subheading: string;
  href: string;
  thumbnail: string;
}

const {title, subheading, href, thumbnail} = Astro.props as Props;
---

<div
  class="card cursor-pointer overflow-hidden bg-gray-300 bg-opacity-20 shadow-lg rounded-lg"
>
  <img
    src={thumbnail}
    class="w-full rounded-md object-cover aspect-square"
    alt={title}
  />
  <div class="p-5">
    <p class="mb-1 font-bold text-white tracking-wide uppercase line-clamp-2">
      {title}
    </p>
    <p class="mb-3 text-gray-400 text-sm line-clamp-2">
     {subheading}
    </p>
    <div class="flex items-center justify-start gap-2 mt-auto">
      <a
        class="group text-yellow-400 transition-all duration-300 ease-in-out"
        href={href}
      >
        <span
          class="flex items-center gap-2 bg-left-bottom bg-gradient-to-r from-yellow-400 to-yellow-400 bg-[length:0%_2px] bg-no-repeat group-hover:bg-[length:100%_2px] transition-all duration-500 ease-out"
        >
          Mula Belajar{" "}
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3.5 h-3.5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" />
            </svg>
            
          </span>
        </span>
      </a>
    </div>
  </div>
</div>

<!-- <div>
    <h2>Tajuk 1</h2>
    <p>Sub tajuk</p>
</div> -->

<style>
  
  .card {
  transition: all 300ms;
 }
 
 .card:hover {
  opacity: 0.8;
  transform: scale(1.10);
 }

  
</style>