---
import BG from "/assets/Mask-group.png";
import CardModul from "../components/CardModul.jsx";
---

<section>
  <img
    src={BG}
    alt="MySekolah Kripto"
    class="absolute -mt-[5%] rotate-180 left-0 "
  />
  <div class="py-20 relative">
    <div class="mx-auto p-4">
      <h3 class="lg:text-3xl text-3xl font-bold text-center text-white">
        Terokai Lalu Pembelajaran Kami
      </h3>
      <p class="text-sm lg:text-base py-2 text-center text-gray-400 mt-2">
        Pilih laluan anda untuk mempelajari asas web3!
      </p>
    </div>
    <CardModul/>
    <div class="flex justify-center w-full">
      <a href="/modul" class="button">Lihat Semua Laluan</a>
    </div>
    <!-- <div class="px-4 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24">
      <div class="px-4 py-8 mx-2 sm:mx-auto max-w-7xl lg:py-18">
        <div
          class="grid gap-8 lg:grid-cols-3 sm:max-w-sm sm:mx-auto lg:max-w-full"
        >
          {
            posts
              .slice(0, 3)
              .map((post) => (
                <Card
                  title={post.frontmatter.title}
                  subheading={post.frontmatter.subheading}
                  href={post.url}
                  thumbnail={post.frontmatter.thumbnail}
                />
              ))
          }
          
        </div>
        <div class="flex justify-center mt-10 w-full">
          <button class="button">Lihat Semua Laluan</button>
        </div>
      </div>
    </div> -->
  </div>
</section>

<style>
  .button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .button:hover {
    /* background-color: #23c483; */
    background-color: #eebc22;
    box-shadow: 0px 15px 20px rgba(238, 188, 34, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  .button:active {
    transform: translateY(-1px);
  }
</style>
