---
import {slugify} from "../../../js/utils.js";
import MainLayout from "../../../layouts/MainLayout.astro";

export async function getStaticPaths(){
    return [
        {
            params: {category: slugify("Module 1")},
            props:{name: "Modul 1 - Introduction to Blockchain and Cryptocurrency"},
        },
        {
            params: {category: slugify("Module 2")},
            props:{name: "Modul 2"},
        },
        {
            params: {category: slugify("Module 3")},
            props:{name: "Modul 3"},
        },
    ]
}

const {category} = Astro.params;
const {name} = Astro.props;


---

<MainLayout title={name}>
    <h1>{name}</h1>
</MainLayout>